*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Whitney', sans-serif;
}
/* COMMON */
.linkk{
    text-decoration: none;
    color: black;
}
.header-top{
    background-color: #255ee9;
    height: 80px;
    display: flex;
    align-items: center;
    color: white;
}
.container{
    margin: auto;
    width: 80%;

}
.navigation-area{
    display: flex;
    
}
.logo, nav, .login{
    padding: 5px;
}
.logo{
    width: 20%;
}
nav{
    width: 60%;
    text-align: center;
}
.login{
    width: 20%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.login a{
    border-radius: 20px;
    color: black;
    background-color: white;
    padding: 10px 15px;
}

.header-bottom{
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    color: white;
    text-align: center;
    width: 50%;
    height: 300px;
}
.header-content h1{
    font-size: 40px;
}
.header-content p{
    margin-top: 30px;
    margin-bottom: 35px;
}
.nav-col{
    padding: 10px 0;
}
ul{
    list-style-type: none;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu li{
    padding: 0 15px;
    font-size: 15px;

}
.link{
    text-decoration: none;
    color: white;
}
.header-buttons{
    display: inline;
    padding: 10px 20px;
    border-radius: 50px;
}
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
}

.section_main{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.gr{
    background-color: #f6f6f6;
}
.main-big-content{
    width: 50%;
    height: 80%;
}
.main-big-content img{
    width: 90%;
}
.main-small-content{
    width: 30%;
    height: 80%;
}
.main-small-content h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.main-small-content p{
    line-height: 25px;
}
.last{
    height: 1100px;
}
.green_box{
    height: 90%;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.green_box h2{
    font-size: 39px;
}
.green_box h3{
    font-size: 30px;
}
.green_box p{
    margin-top: 30px;
}
.blue-but{
    color: white;
    background-color: #7289da;
    border-radius: 25px;
    align-self: center;
    padding: 10px 20px ;
}
.footer-top{
    display: flex;
    height: 430px;
    justify-content: center;
    background-color: #23272a;
    padding-top: 1%;
    
}
.footer-small-content{
    width: 20%;
    margin: 30px 0;
}
.footer-small-content h3{
    font-size: 30px;
    color: #7289da;
}
.footer-small-content img{
    width: 30px;
    margin-top: 15px;
    display: inline;
    vertical-align: middle;
}
.footer-small-content p{
    display: inline;
    vertical-align: middle;	
    color: white;
}
.footer-small-content i{
    color: white;
    width: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
.footer-big-content{
    margin-top: 30px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}
.footer-column{
    width: calc(100% / 4);
}
.footer-column li{
    padding: 7px;
}
.footer-column .ul-title{
    color: #7289da;
}
.footer-bottom{
    background-color: #23272a;
    display: flex;
    justify-content: center;
}
.footer-bottom-content{
    border-top: 1px solid #7289da;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.buttons{
    margin: 20px 0;
    padding: 5px;
}
.language{
    vertical-align: middle;
}